DJANGO_SECRET_KEY=%$oit@^)hx4_5lwm998wiqs$pil6#*gs8sf(&3qcr2__3$r$m!
DJANGO_DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,db

POSTGRES_DB=team_finder
POSTGRES_USER=team_finder
POSTGRES_PASSWORD=team_finder
POSTGRES_HOST=localhost
POSTGRES_PORT=5432